article{
    width:30rem;
    margin: 2rem auto;
    border: 5px solid black;
    background-color: white;
    padding: 1rem;
  }
  .a{
    float : left;
    margin: 1rem;
  }
  .b{
    float : right;
     margin :1rem;
  }
  strong{
    font-size: 2rem;
  }
  body{
    background-color: rgb(114, 104, 104);
  }
  article:after {
    content: "";
    clear: both;
    display: table;
  }